@using ControleDeIphone.Models
@model List<IphoneModel>
@{
    ViewData["Title"] = "Listagem de Iphones";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Iphone" asp-action="Criar">Adicionar novo Iphone</a>
    </div>
    <br />
    <h1>Listagem de Iphones</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Cor</th>
                <th scope="col">Valor</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (IphoneModel iphone in Model)
                {
                    <tr>
                        <th scope="row">@iphone.Id</th>
                        <td>@iphone.Nome</td>
                        <td>@iphone.Cor</td>
                        <td>@iphone.Preco</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@iphone.Id" asp-controller="Iphone" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@iphone.Id" asp-controller="Iphone" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
